{
  "singleAttributePerLine": true,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 80,
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "singleQuote": true,
  "jsxSingleQuote": true
}
